# ───────────── Python ───────────── #
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Byte-compiled / optimized / DLL files
*.pyc

# ───────────── Virtual Environments ───────────── #
.venv/
venv/
env/
ENV/
env.bak/

# ───────────── Streamlit ───────────── #
.streamlit/secrets.toml
.streamlit/config.toml  

# ───────────── Editor Configs ───────────── #
.vscode/
.cursor/

# ───────────── OS / Misc ───────────── #
Thumbs.db           # Windows
*.log               # Log files

# ───────────── Static Files ───────────── #
# static/*.pdf
